/* Josh Comeau CSS Reset:

/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  /*
    5. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    6. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    7. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }


@font-face {
    font-family: "Norse";
    src: url(./Norse-Bold.otf);
}

body {
    font-family: "Inter Tight", sans-serif;
    display: flex;
}

.logo-section {
    width: 40vw;
    height: 100vh;
    background: url(./trophim-lapteff-tzs6YfTZ2ps-unsplash.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    padding-bottom: 0;
}

.logo-section div:first-of-type {
    font-family: "Norse", 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 320%;
    color: white;
    display: flex;
    align-items: center;
}

#logo {
    display: inline-block;
    width: 15%;
    height: fit-content;
}

.logo-section div:nth-of-type(2) {
    padding: 15% 0 10px 0;
    text-align: center;
    color: white;
    background: linear-gradient(0deg, black, rgba(0, 0, 0, 0));
}

.logo-section :link, .logo-section :visited {
    color: white;
}

.form-section {
    --shadow-color: #dbdddc;
    --border-color: #E5E7EB;
    background-color: #f8fbfb;
    display: flex;
    flex-direction: column;
    width: 60vw;
}
.form-section li {
  position: relative;
}

.form-section input {
    display: block;
    font-size: 15px;
    width: 220px;
    border-color: var(--border-color);
    border-style: solid;
    border-radius: 5px;
    padding: 5px 10px;
    letter-spacing: 1px;
    color: black;
}

form {
    color: #262f3d;
    background-color: white;
    padding: 30px 50px;
    padding-top: 10px;
    box-shadow: 10px 3px 10px var(--shadow-color);
}

form input:focus {
    outline-color: transparent;
    outline-style: solid;
    border-color: #7172a7;
    box-shadow: 3px 3px 10px var(--shadow-color);

}

form input:invalid {
  border-color: red;
}

form input + div::before {
  color: red;
  display: block;
  content: "! That's not right";
  letter-spacing: 1px;
  font-weight: 500;
  font-size: 0.8rem;
  position: absolute;
  right: 20px;
  top: 4px;
  opacity: 0;
  transition: opacity ease-in-out 100ms,
              right ease-in 80ms
  ;
}

form input:invalid:focus + div::before {
  opacity: 1;
  right: 0;
}

form > h1 {
    margin-top: 0;
    margin-bottom: 20px;
}

.form-section ul {
    width: 500px;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex: 0;
    gap: 20px;
}

.form-section label {
    letter-spacing: 1px;
    font-weight: 700;
    font-size: 0.8rem;
}

button[form="signup"] {
  color:white;
  width: 180px;
  padding: 10px;
  margin: 30px 50px;
  border-radius: 5px;
  border: 0;
  background-color: #7172a7;
  box-shadow: 3px 3px 10px var(--shadow-color);
}